<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>

<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 " style="background-color:lavender;">.col-sm-8

                {{#ps}}
                    <div class="card mb-3 img-fluid" style="width:800px">
                        <div class="card-body" style="background-color: #e5ffea">
                            <h4 class="card-title">{{postName}}</h4>
                            <p class="card-text">{{postText}}</p>

                            <img class="card-img-bottom mx-auto d-block" src="/img/{{imgName}}" alt="Card image" style="width:75% ">
                        </div>


                    </div>
                {{/ps}}

            </div>

            <div class="col-sm-4" style="background-color:lavenderblush;">.col-sm-4

            </div>
        </div>
    </div>

</div>

</body>
</html>

