<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Spring Security Example </title>
    <style>
        input[type=text], select {
            width: 40%;
            padding: 12px 20px;
            margin: 8px 0;
            display: block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;

        }

        input[type=submit] {
            width: 40%;
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            display: block;

        }

        input[type=submit]:hover {
            background-color: #45a049;
        }

        div {

            border-radius: 10px;

            padding: 30px;
        }

        .hdr{
            font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
            font-size: 18px;
        }

    </style>

</head>
<body>

{{#message}}
    {{message}}
{{/message}}

<!--<form action="/registration" method="post">-->
<!--    <div><label> User Name : <input type="text" name="username"/> </label></div>-->
<!--    <div><label> Password: <input type="password" name="password"/> </label></div>-->
<!--    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>-->
<!--    <div><input type="submit" value="Sign In"/></div>-->
<!--</form>-->

<div>

    <form action="/registration" method="post">
        <label for="username">Username</label>
        <input type="text"  name="username">

        <label for="password">Password</label>
        <input type="text" name="password">

        <label for="email">E-mail</label>
        <input type="text" name="email">

        <label for="fullName">Full Name</label>
        <input type="text" name="fullName">

        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>

        <input type="submit" value="Register">

    </form>
</div>
</body>
</html>